/* ==UserStyle==
@name           GitHub Icons
@namespace      github.com/openstyles/stylus
@version        1.0.4
@description    Custom GitHub icons
@author         https://github.com/pycoinfu, https://github.com/the-userr
@updateURL      https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/UserCSS.css
==/UserStyle== */

@-moz-document domain("github.com") {
:root {
	--markdown: 	url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/Markdown.svg");
	--git: 			url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/Git.png");
	--github: 		url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/GitHub.svg");
	--editorconfig: url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/EditorConfig.png");
	--html: 		url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/HTML.svg");
	--css: 			url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/CSS.svg");
	--javascript: 	url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/JavaScript.svg");
	--php: 			url("https://raw.githubusercontent.com/github/explore/ccc16358ac4530c6a69b1b80c7223cd2744dea83/topics/php/php.png");
	--golang: 		url("https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/go/go.png");
	--csharp: 		url("https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/csharp/csharp.png");
	--cpp: 			url("https://raw.githubusercontent.com/github/explore/180320cffc25f4ed1bbdfd33d4db3a66eeeeb358/topics/cpp/cpp.png");
	--c: 			url("https://raw.githubusercontent.com/github/explore/f3e22f0dca2be955676bc70d6214b95b13354ee8/topics/c/c.png");
	--python: 		url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/Python.svg");
	--json: 		url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/JSON.svg");
	--xml: 			url("https://raw.githubusercontent.com/github/explore/05a6f4c574a32b6b2f04c2e589f6c82d9df46a5d/topics/xml/xml.png");
	--yaml: 		url("https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/yaml/yaml.png");
	--powershell: 	url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/PowerShell.png");
	--shell: 		url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/Shell.svg");
	--svg: 			url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/SVG.svg");
	--cmd: 			url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/CMD.png");
	--apache: 		url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/Apache.png");
	--java: 		url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/Java.png");
	--exe: 			url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/EXE.png");
	--audio: 		url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/Audio.png");
	--dll: 			url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/DLL.png");
	--ini: 			url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/INI.png");
	--jpeg: 		url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/JPEG.png");
	--png: 			url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/PNG.png");
	--rtf: 			url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/RTF.png");
	--txt: 			url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/TXT.png");
	--zip: 			url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/ZIP.png");
	--hash: 		url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/Hash.png");
	--truetype: 	url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/TrueType.png");
	--rdf: 			url("https://raw.githubusercontent.com/the-userr/GitHub-Icons/Latest/icons/RDF.png");
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".md"]) {
    background-image: var(--markdown);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".md"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".md"] > a > span:first-child {
    background-image: var(--markdown);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".md"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".gitignore"]) {
    background-image: var(--git);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".gitignore"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".gitignore"] > a > span:first-child {
    background-image: var(--git);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".gitignore"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".gitattributes"]) {
    background-image: var(--git);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".gitattributes"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".gitattributes"] > a > span:first-child {
    background-image: var(--git);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".gitattributes"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".gitmodules"]) {
    background-image: var(--git);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".gitmodules"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".gitmodules"] > a > span:first-child {
    background-image: var(--git);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".gitmodules"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".gitmessage"]) {
    background-image: var(--git);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".gitmessage"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".gitmessage"] > a > span:first-child {
    background-image: var(--git);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".gitmessage"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".gitreview"]) {
    background-image: var(--git);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".gitreview"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".gitreview"] > a > span:first-child {
    background-image: var(--git);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".gitreview"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="Directory"]):has(+ div > span > a[href$=".github"]) {
    background-image: var(--github);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="Directory"]):has(+ div > span > a[href$=".github"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".github"] > a > span:first-child {
    background-image: var(--github);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".github"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".editorconfig"]) {
    background-image: var(--editorconfig);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".editorconfig"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".editorconfig"] > a > span:first-child {
    background-image: var(--editorconfig);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".editorconfig"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".html"]) {
    background-image: var(--html);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".html"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".html"] > a > span:first-child {
    background-image: var(--html);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".html"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".css"]) {
    background-image: var(--css);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".css"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".css"] > a > span:first-child {
    background-image: var(--css);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".css"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".js"]) {
    background-image: var(--javascript);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".js"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".js"] > a > span:first-child {
    background-image: var(--javascript);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".js"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".php"]) {
    background-image: var(--php);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".php"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".php"] > a > span:first-child {
    background-image: var(--php);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".php"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".go"]) {
    background-image: var(--golang);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".go"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".go"] > a > span:first-child {
    background-image: var(--golang);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".go"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".cs"]) {
    background-image: var(--csharp);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".cs"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".cs"] > a > span:first-child {
    background-image: var(--csharp);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".cs"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".cpp"]) {
    background-image: var(--cpp);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".cpp"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".cpp"] > a > span:first-child {
    background-image: var(--cpp);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".cpp"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".c"]) {
    background-image: var(--c);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".c"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".c"] > a > span:first-child {
    background-image: var(--c);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".c"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".py"]) {
    background-image: var(--python);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".py"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".py"] > a > span:first-child {
    background-image: var(--python);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".py"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$="requirements.txt"]) {
    background-image: var(--python);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$="requirements.txt"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type="requirements.txt"] > a > span:first-child {
    background-image: var(--python);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type="requirements.txt"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".json"]) {
    background-image: var(--json);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".json"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".json"] > a > span:first-child {
    background-image: var(--json);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".json"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".xml"]) {
    background-image: var(--xml);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".xml"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".xml"] > a > span:first-child {
    background-image: var(--xml);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".xml"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".yaml"]) {
    background-image: var(--yaml);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".yaml"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".yaml"] > a > span:first-child {
    background-image: var(--yaml);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".yaml"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".ps1"]) {
    background-image: var(--powershell);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".ps1"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".ps1"] > a > span:first-child {
    background-image: var(--powershell);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".ps1"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sh"]) {
    background-image: var(--shell);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sh"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".sh"] > a > span:first-child {
    background-image: var(--shell);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".sh"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".svg"]) {
    background-image: var(--svg);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".svg"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".svg"] > a > span:first-child {
    background-image: var(--svg);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".svg"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".bat"]) {
    background-image: var(--cmd);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".bat"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".bat"] > a > span:first-child {
    background-image: var(--cmd);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".bat"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".cmd"]) {
    background-image: var(--cmd);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".cmd"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".cmd"] > a > span:first-child {
    background-image: var(--cmd);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".cmd"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".htaccess"]) {
    background-image: var(--apache);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".htaccess"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".htaccess"] > a > span:first-child {
    background-image: var(--apache);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".htaccess"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".jar"]) {
    background-image: var(--java);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".jar"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".jar"] > a > span:first-child {
    background-image: var(--java);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".jar"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".war"]) {
    background-image: var(--java);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".war"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".war"] > a > span:first-child {
    background-image: var(--java);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".war"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".exe"]) {
    background-image: var(--exe);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".exe"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".exe"] > a > span:first-child {
    background-image: var(--exe);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".exe"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".mp3"]) {
    background-image: var(--audio);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".mp3"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".mp3"] > a > span:first-child {
    background-image: var(--audio);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".mp3"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".ogg"]) {
    background-image: var(--audio);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".ogg"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".ogg"] > a > span:first-child {
    background-image: var(--audio);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".ogg"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".wav"]) {
    background-image: var(--audio);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".wav"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".wav"] > a > span:first-child {
    background-image: var(--audio);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".wav"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".dll"]) {
    background-image: var(--dll);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".dll"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".dll"] > a > span:first-child {
    background-image: var(--dll);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".dll"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".ini"]) {
    background-image: var(--ini);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".ini"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".ini"] > a > span:first-child {
    background-image: var(--ini);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".ini"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".jpg"]) {
    background-image: var(--jpeg);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".jpg"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".jpg"] > a > span:first-child {
    background-image: var(--jpeg);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".jpg"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".jpeg"]) {
    background-image: var(--jpeg);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".jpeg"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".jpeg"] > a > span:first-child {
    background-image: var(--jpeg);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".jpeg"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".png"]) {
    background-image: var(--png);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".png"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".png"] > a > span:first-child {
    background-image: var(--png);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".png"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".rtf"]) {
    background-image: var(--rtf);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".rtf"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".rtf"] > a > span:first-child {
    background-image: var(--rtf);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".rtf"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".txt"]) {
    background-image: var(--txt);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".txt"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".txt"] > a > span:first-child {
    background-image: var(--txt);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".txt"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".zip"]) {
    background-image: var(--zip);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".zip"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".zip"] > a > span:first-child {
    background-image: var(--zip);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".zip"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".hash"]) {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".hash"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".hash"] > a > span:first-child {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".hash"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sfv"]) {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sfv"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".sfv"] > a > span:first-child {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".sfv"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".md5"]) {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".md5"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".md5"] > a > span:first-child {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".md5"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sha1"]) {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sha1"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".sha1"] > a > span:first-child {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".sha1"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sha256"]) {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sha256"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".sha256"] > a > span:first-child {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".sha256"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sha512"]) {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sha512"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".sha512"] > a > span:first-child {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".sha512"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sha3-256"]) {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sha3-256"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".sha3-256"] > a > span:first-child {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".sha3-256"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sha3-512"]) {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".sha3-512"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".sha3-512"] > a > span:first-child {
    background-image: var(--hash);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".sha3-512"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".ttf"]) {
    background-image: var(--truetype);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".ttf"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".ttf"] > a > span:first-child {
    background-image: var(--truetype);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".ttf"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".otf"]) {
    background-image: var(--truetype);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".otf"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".otf"] > a > span:first-child {
    background-image: var(--truetype);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".otf"] > a > span:first-child > svg {
	visibility: hidden;
}

div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".rdf"]) {
    background-image: var(--rdf);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="File"]):has(+ div > span > a[href$=".rdf"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type=".rdf"] > a > span:first-child {
    background-image: var(--rdf);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type=".rdf"] > a > span:first-child > svg {
	visibility: hidden;
}

}