div:has( > svg[aria-label="$type$"]):has(+ div > span > a[href$="$filename$"]) {
    background-image: var(--$CSS_var$);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
div:has( > svg[aria-label="$type$"]):has(+ div > span > a[href$="$filename$"]) > svg {
    visibility: hidden;
}
file-tree li[id^="file-tree-item"][data-file-type="$filename$"] > a > span:first-child {
    background-image: var(--$CSS_var$);
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
}
file-tree li[id^="file-tree-item"][data-file-type="$filename$"] > a > span:first-child > svg {
	visibility: hidden;
}
table[aria-labelledby="folders-and-files"] > tbody > tr > td > div.react-directory-filename-column:has( > div > h3 > div[title$="$filename$"]) {
	background-image: var(--$CSS_var$);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-origin: content-box;
}
table[aria-labelledby="folders-and-files"] > tbody > tr > td > div.react-directory-filename-column:has( > div > h3 > div[title$="$filename$"]) > svg {
	visibility: hidden;
}
